<!DOCTYPE html>
<head>
  <title>Baby Steps Beyond the Horizon</title>
  <link rel="stylesheet" href="build/stylesheets/main.css">
  <link rel="stylesheet" href="build/stylesheets/navigation.css">
  <link rel="stylesheet" href="build/stylesheets/header.css">
  <link rel="icon" href="img/logo_small.png">

  {% block moreCSS %}
  {% endblock %}
  
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet"> -->

  <script src="src/scripts/calendar.js"></script>
  <script src="src/scripts/menu_handler.js"></script>

  <meta charset="UTF-8" />
</head>

<body onload="print_calendar(0)">
  <div class="holder">

    <div class="main_header">

      <div class="main_title">
        BABY STEPS
      </div>
      <div class="subtitle">
        beyond the horizon
      </div>
      
    </div>

    <div class="navigation">

      <div class="logo">
        <div class="logo_image"></div>
        23-29 Aug. 2025
      </div>

      <div class="button_holder" id="btn-holder" hidden="true">
        <input type="button" value="Home" onclick="location.href='https://baby-steps-beyond-horizon.github.io/';" style="width: 85px;" id="0" {% block activeHOME %}{% endblock %}>
        <input type="button" value="Poster" onclick="location.href='poster';" id="1" style="width:90px;" {% block activePOSTER %}{% endblock %}>
        <input type="button" value="Committee" onclick="location.href='committee';" id="2" style="width: 130px;" {% block activeCOMMITTEE %}{% endblock %}>
        <input type="button" value="Programme" onclick="location.href='programme';" id="3" style="width: 135px;" {% block activePROGRAMME %}{% endblock %}>
        <input type="button" value="Speakers" id="4" onclick="location.href='speakers';" style="width: 115px;" {% block activeSPEAKERS %}{% endblock %}>
        <input type="button" value="Participants" onclick="location.href='participants';" id="5" style="width: 140px;" {% block activePARTICIPANTS %}{% endblock %}>
    

        <div class="dropdown" id='dropdown'>
          <input type="button" value="More" id='more'>
          <div class="dropdown-content" id='dropdown-content'>
          </div>
        </div>

      </div>

    </div>

    <div class="main_text">
      {% block mainText %}
      {% endblock %}
    </div>
    <footer>
      <img src="img/impan-logo.svg">
      <img src="img/ptm-logo.png">
      <img src="img/uwr-logo.svg">
    </footer>
  </div>

</body>
