<!DOCTYPE html>
<head>
  <title>Baby Steps Beyond the Horizon</title>
  <link rel="stylesheet" href="build/stylesheets/main.css">
  <link rel="stylesheet" href="build/stylesheets/calendar_html.css">
  <link rel="stylesheet" href="build/stylesheets/header.css">
  <link rel="icon" href="logo_small.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

  <script src="src/scripts/calendar.js"></script>
  <script src="src/scripts/menu_handler.js"></script>

  <meta charset="UTF-8" />
</head>

<body>
  <div class="holder">

    <div class="main_header">

      <div class="main_title">
        BABY STEPS
      </div>
      <div class="subtitle">
        beyond the horizon
      </div>
      
    </div>

    <div class="navigation">

      <div class="logo">
        <div class="logo_image"></div>
        2-6 Sep. 2024
      </div>

      <div class="button_holder" id="btn-holder" hidden="true">
        <input type="button" value="Home" onclick="location.href='index.html';" style="width: 85px;" id="0">
        <input type="button" value="Poster" onclick="location.href='poster.html';" id="1" style="width:90px;">
        <input type="button" value="Registration" onclick="location.href='registration.html';" id="2" style="width:140px;">
        <input type="button" value="Committee" id="3" style="width: 130px;" onclick="location.href='committee.html';" class="active">
        <input type="button" value="Programme" onclick="location.href='programme.html';" id="4" style="width: 135px;">
        <input type="button" value="Speakers" id="5" style="width: 115px;">
        <input type="button" value="Participants" id="6" style="width: 140px;">
    

        <div class="dropdown" id='dropdown'>
          <input type="button" value="More" id='more'>
          <div class="dropdown-content" id='dropdown-content'>
          </div>
        </div>

      </div>

    </div>

<style>
a { 
  font-weight: 400;
}
</style>

    <div class="main_text">
      <h2>Scientific Committe</h2>
      {% for s in scientific %}
      <p>{{ s.name }} <a href="mailto:{{ s.mail }}">({{ s.mail }})</a></p>
      {% endfor %}
      
      <h2>Organizing Committe</h2>
      {% for o in organizing %}
      <p>{{ o.name }} <a href="mailto:{{ o.mail }}">({{ o.mail }})</a><br /></p>
      {% endfor %}
    </div>
    <footer>
      <img src="img/impan-logo.svg">
      <img src="img/ptm-logo.png">
      <img src="img/uwr-logo.svg">
    </footer>
  </div>

</body>
