{% extends "base.html" %}
{% block moreCSS %}
  <link rel="stylesheet" href="build/stylesheets/calendar_html.css">
{% endblock %}
{% block activeHOME %}class="active"{% endblock %}

{% block mainText %}
<p>
      The aim of the workshop is to prepare the next generation of mathematicians to boldly go where no one has gone before by showing them research frontiers in mathematics in a tangible and comprehensible way. It should reveal to students various possibilities for their research careers, both in terms of future research opportunities and the choice of potential thesis or postdoctoral advisors. The workshop will combine 15 expository lectures by senior speakers with presentations by participating students.
      </p>

      <div class="registration_holder">
        <button class="registration" onclick="window.open('{{ reg_link }}', '_blank')">
        REGISTER
      </button>
      </div>
      <p>
      Shortly before the beginning of the school, all registered participants will receive the Zoom link, meeting id and passcode for the lectures.
      <!-- To participate in the workshop, please register via the <a href="">registration page</a>. Shortly before the beginning of the school, all registered participants will receive the Zoom link, meeting id and passcode for the lectures.  -->
      </p>
      
      <p>
      Important dates are highlited on the calendar below.
      </p>

      <div style="width: 100%; display: flex; justify-content: center;">
        <div class="calendar">
          <table id="calendar">
          <colgroup>
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col style="width: 40px;">
          </colgroup>
            <tr>
              <th class="arrows" id="prev-month" onclick="print_calendar(-1)"><</th>
              <th colspan="5" class="month" id="month"></th>
              <th class="arrows" id="next-month" onclick="print_calendar(1)">></th>
            </tr>
            <tr>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th class="week-th">Sat</th>
              <th class="week-th">Sun</th>
            </tr>
          </table>

          {% for d in days %}

          <div id="{{ d.id }}" class="date-info" style="display: none;">
            <div><b>{{ d.day }}</b></div> <div style="width: 230px;">{{ d.description }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    
{% endblock %}
