{% extends "base.html" %}
{% block moreCSS %}
  <link rel="stylesheet" href="build/stylesheets/programme.css">
{% endblock %}
{% block activePROGRAMME %}class="active"{% endblock %}

{% block mainText %}
  <table style="margin-left: auto; margin-right:auto; align: center; width: 80%; min-width: 300px; border: none; table-layout: fixed; font-family: "Bitter";">
    <colgroup>
      <col style="width: 105px;" />
      <col style="width: calc(0.5 * (100% - 100px));" />
      <col style="width: calc(0.5 * (100% - 100px));" />
    </colgroup>

        {% for d in days %}
        <tr style="height: 45px;"><td style="text-align:center; vertical-align: bottom; font-size: 22;" colspan="3"> 
            <b>{{ d.day }}</b>
          </td>
        </tr>
          {% for a in d.activities %}
            <tr>
              <td> {{ a.time }} </td>
                {% if "description" in a %}
                <td colspan="2">{{ a.description }} </td>
               
                {% elif "title" in a %}
                <td colspan="2" class="author_title" onclick="document.getElementById('{{ a.author }}').hidden = !document.getElementById('{{ a.author }}').hidden;">
                <b>{{ a.title }} 
                  {% if a.slides != "" %} 
                  <a href="{{ a.slides }}" target="_blank">[slides]</a> 
                  {% endif %}
                <br />
                    <span class="author">{{ a.author }}</span> </b>
                </td>

                {% elif "studentA" in a %}
                <td>
                  <b>
                  <span class="classroom">room A</span><br />
                    {{ a.studentA.title }}</b> <br />
                    {{ a.studentA.name }} (<i>{{ a.studentA.aff }}</i>)
                  <br />
                </td>

                <td>
                  <b>
                  <span class="classroom">room C: </span><br />
                    {{ a.studentC.title }}</b> <br /> 
                    {{ a.studentC.name }} (<i>{{ a.studentC.aff }}</i>)
                </td>

                {% endif %}
            </tr>

            {% if "title" in a %}
            <tr>
              <td></td>
              <td colspan="2" class="abstract" id="{{ a.author }}" hidden="true">
                <i>
                  {% if a.abstract != "" %}
                    {{ a.abstract }} 
                  {% else %}
                    Coming soon...
                  {% endif %}
                </i>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </table>

{% endblock %} 
