{% extends "base.html" %}
{% block moreCSS %}
  <link rel="stylesheet" href="build/stylesheets/speakers.css">
{% endblock %}
{% block activeSPEAKERS %}class="active"{% endblock %}

{% block mainText %}
  <table style="margin-left: auto; margin-right:auto; align: center; width: 80%; min-width: 300px; border: none; table-layout: fixed; font-family: "Bitter";">
    <colgroup>
      <col style="width: 200px;" />
      <col style="width: calc(100% - 200px);" />
    </colgroup>
        {% for s in speakers %}

        <tr>
          <td class="author_name">
            <b><a href="{{ s.link }}" target="_blank">{{ s.name }}</a></b> <br />
            <span class="author_aff">{{ s.affiliation }}</span>
          </td>
          <td class="author_title" onclick="document.getElementById('{{ s.name }}').hidden = !document.getElementById('{{ s.name }}').hidden;">
            <b>{{ s.title }}</b>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="abstract" id="{{ s.name }}">
            {% if s.abstract != "" %}
              {{ s.abstract }}
            {% else %} 
              Coming soon...
            {% endif %}
          </td>
        </tr>

        {% endfor %}
      </table>
{% endblock %}
