{% extends "base.html" %}
{% block moreCSS %}
<style>
a { 
  font-weight: 400;
}
</style>
{% endblock %}
{% block activeCOMMITTEE %}class="active"{% endblock %}

{% block mainText %}
      <h2>Scientific Committe</h2>
      {% for s in scientific %}
      <p style="text-align: start;">{{ s.name }} <a href="mailto:{{ s.mail }}">({{ s.mail }})</a></p>
      {% endfor %}
      
      <h2>Organizing Committe</h2>
      {% for o in organizing %}
      <p style="text-align: start;">{{ o.name }} <a href="mailto:{{ o.mail }}">({{ o.mail }})</a><br /></p>
      {% endfor %}
{% endblock %}
