{% extends "base.html" %}
{% block moreCSS %}
  <link rel="stylesheet" href="build/stylesheets/participants.css">
{% endblock %}
{% block activePARTICIPANTS %}class="active"{% endblock %}

{% block mainText %}
    <h2> Onsite participants </h2>
      <ol>
        {% for p, a in onsite %}
        <li> {{ p }} (<i>{{ a }}</i>) </li>
        {% endfor %}
      </ol>

      <h2> Online participants </h2>
      <ol>
        {% for p, a in online %}
        <li> {{ p }} (<i>{{ a }}</i>) </li>
        {% endfor %}
      </ol>
{% endblock %}
