$dark: #4b4e61;

$light: #fbe8da;
$pink: #ffd4b4;

$yellow: #ffda93;
$golden: #ffbf72;
$orange: #ffa243;

$dark_red: #8d6365;
$red: #b45d61;

$dark_blue: #596e7f;
$blue: #7e91b1;
$light_blue: #a4b7d9;
$very_light_blue: #bdcbe1;
