$font_color: #2b2d40;
$page_color: #fffcf6;

$page_accent: #c3cee9;

$title: #6c7ba1;
$subtitle: #f5a67e;

$nav_back: #2d2d42;
$nav_text: #8a92a6;
$nav_accent: #e8cd8e;
$nav_active: #a6aec2;
$nav_hover: #adb8d2;

$blue: #546aa2;
$red: #f57e7e;
$dark_red: #b65757;

$orange: #f5a67e;






$dark: #4b4e61;

$light: #fbe8da;
$pink: #ffd4b4;

$yellow: #ffda93;
$golden: #ffbf72;
// $orange: #ffa243;

// $dark_red: #8d6365;
// $red: #b45d61;

$dark_blue: #596e7f;
// $blue: #7e91b1;
$light_blue: #a4b7d9;
$very_light_blue: #bdcbe1;

