@use 'colors';
@use 'fonts';

html {
  height: 100%;
}

h2 {
  color: colors.$font_color;
  font-weight:600;
  font-family: "Archivo Black";
  line-height: 1.5;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;

  background-color: colors.$page_color;
}

tr {
  height: 40px;
}


.holder {
  position: relative;
  min-height: 100%;
}

.main_text {
  width:80%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; 
  padding-bottom: 160px;
}

.registration_holder {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 30px 0px 30px 0px;
}

.registration {
  margin-left: auto;
  margin-right: auto;
  align-self: center;

  padding: 15px 40px 15px 40px;
  font-size: 20px;

  font-family: "Archivo Black";
  font-weight:bold;

  background-color: colors.$blue;
  color: colors.$page_color;

  border: none;
}

.registration:hover {
  cursor: pointer;

  color: colors.$blue;
  background-color: colors.$page_accent;
}

p {
  font-family: "Bitter";
  font-size: 18px;
  text-align: justify;
  // text-justify: inter-word;
  hyphens: auto;

  color: colors.$dark;
}

a {
  color: colors.$blue;
  font-weight: 600;
  text-decoration: none;
}
