@use 'colors';
@use 'fonts';

.author {
  color: colors.$red;
}

.classroom {
  color: colors.$blue;
}

td {
  vertical-align: top;
  font-size:17;
  height: 35px;
  font-family: Bitter;

  color: colors.$dark;
}

.abstract {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  color: colors.$dark_blue;

  padding-right: 5%;
  padding-left: 5%;
  
  padding-bottom: 50px;
  padding-top: 20px;
}

.author_title {
  padding-top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.author_name {
  padding-top: 10px;
  font-size: 22px;
  height: 20px;
  color: colors.$dark !important;
  text-align: center;
}

b {
  color: colors.$dark !important;
}

.author_aff {
  font-size: 13px;
  height: 20px !important;
}
